
    <div class="row">
    <h4>Complaints</h4><hr/>
    </div>
    <div class="row"> 
      <div class="panel panel-primary">
        <div class="panel-body">
          <div class="col-lg-1"></div>
          <div class="col-lg-6">
            testing row
          </div>
        </div>
      </div>
    </div>
    <div class="row"> 
      <div class="panel panel-primary">
        <div class="panel-body">
          <div class="col-lg-1"></div>
          <div class="col-lg-6">
            testing row
          </div>
        </div>
      </div>
    </div>
    <div class="row"> 
      <div class="panel panel-primary">
        <div class="panel-body">
          <div class="col-sm-1"></div>
          <div class="col-lg-6">
            testing row
          </div>
        </div>
      </div>
    </div>
    <div class="row"> 
      <div class="panel panel-primary">
        <div class="panel-body">
          <div class="col-lg-1"></div>
          <div class="col-lg-9">
            testing row
          </div>
          <div class="col-lg-1">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Dropdown
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a ng-click="showDetails()">View Details</a></li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>        
