

<div class="row">
<div class="col-lg-1 pull-right"><button class="btn btn-success" ng-click="logout()">Signout</button></div>
</div>
<hr>
<div class="row">
  
  <div class="col-lg-2" style="height: 700px;">
    <ul class="nav nav-stacked">
      <li role="presentation"><a ui-sref="dashboard.notice_board">Notice Board</a></li>
      <li role="presentation"><a ui-sref="dashboard.complaints">Complaints</a></li>
      <li role="presentation"><a ui-sref="dashoboard.events">Events</a></li>
    </ul>    
  </div>

  <div class="col-lg-8">
      <div ui-view> </div>
  </div>
  

<!-- 
  <div class="col-lg-8">
    <div class="row">
    <h4>NoticeBoard</h4><hr/>
    </div>
    <div class="row"> 
      <div class="panel panel-primary">
        <div class="panel-body">
          <div class="col-lg-1"></div>
          <div class="col-lg-6">
            testing row
          </div>
        </div>
      </div>
    </div>
    <div class="row"> 
      <div class="panel panel-primary">
        <div class="panel-body">
          <div class="col-lg-1"></div>
          <div class="col-lg-6">
            testing row
          </div>
        </div>
      </div>
    </div>
    <div class="row"> 
      <div class="panel panel-primary">
        <div class="panel-body">
          <div class="col-sm-1"></div>
          <div class="col-lg-6">
            testing row
          </div>
        </div>
      </div>
    </div>
    <div class="row"> 
      <div class="panel panel-primary">
        <div class="panel-body">
          <div class="col-lg-1"></div>
          <div class="col-lg-8">
            testing row
          </div>
          <div class="col-lg-1">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Dropdown
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a ng-click="showDetails()">View Details</a></li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>        
  </div> -->

  
</div>